__pycache__
*.*~
*.pyc
.idea
*teste*
*improvement
*prontos
cores.py
dicas
workband.py
teste
original
pessoas_trabalho.py
database.db
melhorias
__pycache__/
.idea/
credencias.py
copia_programa_final
venv/
venv
